*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.calculator {
    margin-top: 150px;
    margin-left: 600px;
    width: 320px;
  }
  body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQD6XnutDX_Un-qlfM-G7PJ-Kp2CvxuES_BIR4S9eF7PndVurUKKa0LE_Yf5Fl-aV1cyds&usqp=CAU" );
  }
  .output {
    background: black;
    color:white;
    width: 100%;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom:15px;
    padding-right: 10px;
    text-align: end;
  }
  .keys {
    display: grid;
  }
  .key {
    background:whitesmoke;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-top: 20px;
    font-size: 25px;
  }
  .key:hover {
    background-color:orange;
  }
  .enter {
    grid-column: 4 / 5;
    grid-row: 2 / span 4;
    background: aqua;
  }